@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
}
.form{
    background-color: #fff;
    border-radius: 16px;
    padding: 5%;

    & p{
        padding:0.5% 1%;
    }

    & input {
        background-color: #fff;
        border: rgb(0, 111, 190) 1px solid;
        border-radius: 5px;
        height: auto;
        padding: 1%;
        margin: 0;
        width: 100%;
    }

    & input:invalid {
        border: 1px solid red;
      }

    & input:valid {
        border: 1px solid rgb(0, 137, 48);
      }

    & input[type=submit] {
        background-color: #5D5FEF;
        border: #5D5FEF 1px solid;
        color: #fff;
        padding: 1%;
        width: 30%;
    }
    & .cancel{
        background-color: #fff;
        border: #5D5FEF 1px solid;
        color: #5D5FEF;
        padding: 1%;
        width: 30%;
    }

    & input[type=radio], input[type=checkbox] {
        background-color: rgb(0, 111, 190);
        width: auto;
        accent-color: #5D5FEF;
        
    }

    & fieldset{
        border: rgb(0, 111, 190) 1px solid;
        padding: 3%;
        border-radius: 5px;
    }

    & textarea{
        border: rgb(0, 111, 190) 1px solid;
        border-radius: 10px;
        vertical-align: top;
    }
    & .numero{
        color: rgb(0, 111, 190);
        font-size: 2rem;
    }


}