@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Noto Sans", sans-serif;
    color: #666666;
}
.form{
    background-color: #fff;
    border-radius: 16px;
    padding: 5%;

    & div{
        padding:1% 0;
    }
    & div .button{
        display: flex;
        justify-content: space-between;
    }
}

input {
    background-color: #fff;
    border: #CCCCCC 1px solid;
    border-radius: 5px;
    height: auto;
    padding: 1%;
    margin: 0;
    width: 100%;
}
.button{
    display: flex;
    justify-content: space-between;
}

input:required:valid{
    border: 1px solid red;
}
/*
  input:invalid{
    border: 1px solid red;
  }
*/
input:required:valid {
    border: 1px solid rgb(0, 137, 48);
  }

.send{
    background-color: #5D5FEF;
    border: #5D5FEF 1px solid;
    color: #fff;
    padding: 10px;
    width: 172px;
    height: 56px;
}
.cancel{
    background-color: #ffff;
    border: #5D5FEF 1px solid;
    color: #5D5FEF;
    padding: 10px;
    width: 172px;
    height: 56px;
}
input[type=radio], input[type=checkbox] {
    width: auto;
    accent-color: #5D5FEF;
}

.cancel:valid, .send:valid {
    border: #5D5FEF 1px solid;
}
@media only screen and (max-width: 600px){
    .send{
        width: 150px;
        height: 56px;
    }
    .cancel{
        width: 150px;
        height: 56px;
    }
}

